RFC 9692 TEXT 


Internet Engineering Task Force (IETF) T. Przygienda, Ed. Request for Comments: 9692 J. Head, Ed. Category: Standards Track Juniper Networks ISSN: 2070-1721 A. Sharma Hudson River Trading P. Thubert B. Rijsman Individual D. Afanasiev Yandex April 2025 RIFT: Routing in Fat Trees Abstract This document defines a specialized, dynamic routing protocol for Clos, fat tree, and variants thereof. These topologies were initially used within crossbar interconnects and consequently router and switch backplanes, but their characteristics make them ideal for constructing IP fabrics as well. The protocol specified by this document is optimized towards the minimization of control plane state to support very large substrates as well as the minimization of configuration and operational complexity to allow for a simplified deployment of said topologies. Status of This Memo This is an Internet Standards Track document. This document is a product of the Internet Engineering Task Force (IETF). It represents the consensus of the IETF community. It has received public review and has been approved for publication by the Internet Engineering Steering Group (IESG). Further information on Internet Standards is available in Section 2 of RFC 7841. Information about the current status of this document, any errata, and how to provide feedback on it may be obtained at https://www.rfc-editor.org/info/rfc9692. Copyright Notice Copyright (c) 2025 IETF Trust and the persons identified as the document authors. All rights reserved. This document is subject to BCP 78 and the IETF Trust's Legal Provisions Relating to IETF Documents (https://trustee.ietf.org/license-info) in effect on the date of publication of this document. Please review these documents carefully, as they describe your rights and restrictions with respect to this document. Code Components extracted from this document must include Revised BSD License text as described in Section 4.e of the Trust Legal Provisions and are provided without warranty as described in the Revised BSD License. Table of Contents 1. Introduction 1.1. Requirements Language 2. A Reader's Digest 3. Reference Frame 3.1. Terminology 3.2. Topology 4. RIFT: Routing in Fat Trees 5. Overview 5.1. Properties 5.2. Generalized Topology View 5.2.1. Terminology and Glossary 5.2.2. Clos as Crossed, Stacked Crossbars 5.3. Fallen Leaf Problem 5.4. Discovering Fallen Leaves 5.5. Addressing the Fallen Leaves Problem 6. Specification 6.1. Transport 6.2. Link (Neighbor) Discovery (LIE Exchange) 6.2.1. LIE Finite State Machine 6.3. Topology Exchange (TIE Exchange) 6.3.1. Topology Information Elements 6.3.2. Southbound and Northbound TIE Representation 6.3.3. Flooding 6.3.4. TIE Flooding Scopes 6.3.5. RAIN: RIFT Adjacency Inrush Notification 6.3.6. Initial and Periodic Database Synchronization 6.3.7. Purging and Rollovers 6.3.8. Southbound Default Route Origination 6.3.9. Northbound TIE Flooding Reduction 6.3.10. Special Considerations 6.4. Reachability Computation 6.4.1. Northbound Reachability SPF 6.4.2. Southbound Reachability SPF 6.4.3. East-West Forwarding Within a Non-ToF Level 6.4.4. East-West Links Within a ToF Level 6.5. Automatic Disaggregation on Link & Node Failures 6.5.1. Positive, Non-Transitive Disaggregation 6.5.2. Negative, Transitive Disaggregation for Fallen Leaves 6.6. Attaching Prefixes 6.7. Optional Zero Touch Provisioning (RIFT ZTP) 6.7.1. Terminology 6.7.2. Automatic System ID Selection 6.7.3. Generic Fabric Example 6.7.4. Level Determination Procedure 6.7.5. RIFT ZTP FSM 6.7.6. Resulting Topologies 6.8. Further Mechanisms 6.8.1. Route Preferences 6.8.2. Overload Bit 6.8.3. Optimized Route Computation on Leaves 6.8.4. Mobility 6.8.5. Key/Value (KV) Store 6.8.6. Interactions with BFD 6.8.7. Fabric Bandwidth Balancing 6.8.8. Label Binding 6.8.9. L2L Procedures 6.8.10. Address Family and Multi-Topology Considerations 6.8.11. One-Hop Healing of Levels with East-West Links 6.9. Security 6.9.1. Security Model 6.9.2. Security Mechanisms 6.9.3. Security Envelope 6.9.4. Weak Nonces 6.9.5. Lifetime 6.9.6. Security Association Changes 7. Information Elements Schema 7.1. Backwards-Compatible Extension of Schema 7.2. common.thrift 7.3. encoding.thrift 8. Further Details on Implementation 8.1. Considerations for Leaf-Only Implementation 8.2. Considerations for Spine Implementation 9. Security Considerations 9.1. General 9.2. Time to Live and Hop Limit Values 9.3. Malformed Packets 9.4. RIFT ZTP 9.5. Lifetime 9.6. Packet Number 9.7. Outer Fingerprint Attacks 9.8. TIE Origin Fingerprint DoS Attacks 9.9. Host Implementations 9.9.1. IPv4 Broadcast and IPv6 All-Routers Multicast Implementations 10. IANA Considerations 10.1. Multicast and Port Numbers 10.2. Registry for RIFT Security Algorithms 10.3. Registries with Assigned Values for Schema Values 10.3.1. RIFTVersions Registry 10.3.2. RIFTCommonAddressFamilyType Registry 10.3.3. RIFTCommonHierarchyIndications Registry 10.3.4. RIFTCommonIEEE8021ASTimeStampType Registry 10.3.5. RIFTCommonIPAddressType Registry 10.3.6. RIFTCommonIPPrefixType Registry 10.3.7. RIFTCommonIPv4PrefixType Registry 10.3.8. RIFTCommonIPv6PrefixType Registry 10.3.9. RIFTCommonKVTypes Registry 10.3.10. RIFTCommonPrefixSequenceType Registry 10.3.11. RIFTCommonRouteType Registry 10.3.12. RIFTCommonTIETypeType Registry 10.3.13. RIFTCommonTieDirectionType Registry 10.3.14. RIFTEncodingCommunity Registry 10.3.15. RIFTEncodingKeyValueTIEElement Registry 10.3.16. RIFTEncodingKeyValueTIEElementContent Registry 10.3.17. RIFTEncodingLIEPacket Registry 10.3.18. RIFTEncodingLinkCapabilities Registry 10.3.19. RIFTEncodingLinkIDPair Registry 10.3.20. RIFTEncodingNeighbor Registry 10.3.21. RIFTEncodingNodeCapabilities Registry 10.3.22. RIFTEncodingNodeFlags Registry 10.3.23. RIFTEncodingNodeNeighborsTIEElement Registry 10.3.24. RIFTEncodingNodeTIEElement Registry 10.3.25. RIFTEncodingPacketContent Registry 10.3.26. RIFTEncodingPacketHeader Registry 10.3.27. RIFTEncodingPrefixAttributes Registry 10.3.28. RIFTEncodingPrefixTIEElement Registry 10.3.29. RIFTEncodingProtocolPacket Registry 10.3.30. RIFTEncodingTIDEPacket Registry 10.3.31. RIFTEncodingTIEElement Registry 10.3.32. RIFTEncodingTIEHeader Registry 10.3.33. RIFTEncodingTIEHeaderWithLifeTime Registry 10.3.34. RIFTEncodingTIEID Registry 10.3.35. RIFTEncodingTIEPacket Registry 10.3.36. RIFTEncodingTIREPacket Registry 11. References 11.1. Normative References 11.2. Informative References Appendix A. Sequence Number Binary Arithmetic Appendix B. Examples B.1. Normal Operation B.2. Leaf Link Failure B.3. Partitioned Fabric B.4. Northbound Partitioned Router and Optional East-West Links Acknowledgments Contributors Authors' Addresses 1. Introduction Clos [CLOS] topologies have gained prominence in today's networking, primarily as a result of the paradigm shift towards a centralized data center architecture that is poised to deliver a majority of computation and storage services in the future. Such networks are commonly called a fat tree / network in modern IP fabric considerations [VAHDAT08] as a similar term for the original definition of the term Fat Tree [FATTREE]. In most generic terms, and disregarding exceptions like horizontal shortcuts, those networks are all variations of a structured design isomorphic to a ranked lattice where the least upper bound is the "top of the fabric" and links closer to the top may be "fatter" to guarantee non-blocking bisectional capacity. Many builders of such IP fabrics desire a protocol that autoconfigures itself and deals with failures and misconfigurations with a minimum amount of human intervention. Such a solution would allow local IP fabric bandwidth to be consumed in a "standard component" fashion, i.e., provision it much faster and operate it at much lower costs than today, similar to how compute or storage is consumed already. In looking at the problem through the lens of such IP fabric requirements, Routing in Fat Trees (RIFT) addresses those challenges not through an incremental modification of either a link-state (distributed computation) or distance-vector (diffused computation) technique but rather a mixture of both, briefly described as "link- state towards the spines" and "distance vector towards the leaves". In other words, "bottom" levels are flooding their link-state information in the "northern" direction while each node generates under normal conditions a "default route" and floods it in the "southern" direction. This type of protocol naturally supports highly desirable address aggregation. Alas, such aggregation could drop traffic in cases of misconfiguration or while failures are being resolved. It could also cause persistent network partitioning, which has to be addressed by some adequate mechanism. The approach RIFT takes is described in Section 6.5 and is based on automatic, sufficient disaggregation of prefixes in case of link and node failures. The protocol further provides: * optional fully automated construction of fat tree topologies based on detection of links without any configuration (Section 6.7) while allowing for conventional configuration methods or an arbitrary mix of both, * the minimum amount of routing state held by nodes, * automatic pruning and load balancing of topology flooding exchanges over a sufficient subset of links (Section 6.3.9), * automatic address aggregation (Section 6.3.8) and consequently automatic disaggregation (Section 6.5) of prefixes on link and node failures to prevent traffic loss and suboptimal routing, * loop-free non-ECMP forwarding due to its inherent valley-free nature, * fast mobility (Section 6.8.4), * rebalancing of traffic towards the spines based on bandwidth available (Section 6.8.7.1), and finally * mechanisms to synchronize a limited key-value datastore (Section 6.8.5.1) that can be used after protocol convergence to, e.g., bootstrap higher levels of functionality on nodes. Figure 1 illustrates a simplified, conceptual view of a RIFT fabric with its routing tables and topology databases using IPv4 as the address family. The top of the fabric's link-state database holds information about the nodes below it and the routes to them. When referring to Figure 1, /32 notation corresponds to each node's IPv4 loopback address (e.g., A/32 is node A's loopback, etc.) and 0/0 indicates a default IPv4 route. The first row of database information represents the nodes for which full topology information is available. The second row of database information indicates that partial information of other nodes in the same level is also available. Such information will be needed to perform certain algorithms necessary for correct protocol operation. When the "bottom" (or in other words leaves) of the fabric is considered, the topology is basically empty and, under normal conditions, the leaves hold a load-balanced default route to the next level. The remainder of this document fills in the protocol specification details. [A,B,C,D] [E] +---------+ +---------+ A/32 @ [C,D] | E | | F | B/32 @ [C,D] +-+-----+-+ +-+-----+-+ C/32 @ C | | | | D/32 @ D | | | | | | +--+ | | | | | | +---------)--+ | | | | | | | | | | +---------+ | | | | | | [A,B] +-+-----+-+ +-+-----+-+ [A,B] [D] | C | | D | [C] +-+-----+-+ +-+-----+-+ 0/0 @ [E,F] | | | | 0/0 @ [E,F] A/32 @ [A] | | | | A/32 @ A B/32 @ [B] | | +--+ | B/32 @ B | | | | | +---------)--+ | | | | | | +---------+ | | | | | | +-+-----+-+ +-+-----+-+ 0/0 @ [C,D] | A | | B | 0/0 @ [C,D] +---------+ +---------+ Figure 1: RIFT Information Distribution 1.1. Requirements Language The key words "MUST", "MUST NOT", "REQUIRED", "SHALL"